*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

/*menu*/

.header{
  width: 100%;
  min-height: 100px;
  padding: 10px 100px;
  display: flex;
  align-items: center;
  background-color: #F7F2E6;
}

.logo{
  display: flex;
  justify-content: flex-start;
}

.logo img{
  width: 150px;
}

.header-menu{
  width: 100%;
}

.header-menu ul{
  display: flex;
  list-style: none;
  justify-content: flex-end
}

.header-menu ul li{
  margin-left: 30px;
}

.header a{
  text-decoration: none;
  color: #000;
  font-weight: 500
}

.header-menu ul li .active{
  color: #FF0000;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px
}

.header-menu ul li .btn-contato{
  background-color: #FF3102;
  padding: 5px 10px;
  color: #F7F2E6;
  border-radius: 4px;
}

.header-menu ul li .btn-contato{
  color: #fff;
}

/*Seção inicial*/

.secao-inicial{
  display: flex;
  height: 100vh;
  background-color: #000;
  align-items: center;
  padding: 10px 60px;
}

.secao-inicial-text{
  color: #F7F2E6;
  font-size: 19px;
}

.secao-inicial-text h1,
.secao-inicial-text p{
  margin-bottom: 30px;
  font-weight: 600;
}

span{
  color: #FF3102;
}

.secao-inicial-imagem img{
  width:400px;
  display:block;
}

/*Seção quem somos*/

.sobre, .servicos{
  background-color: #F7F2E6;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 100px;
}

.sobre h2{
  font-weight: 600;
  padding: 60px;
}

.secao-sobre-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
  gap: 100px
}

.secao-sobre-container p{
  max-width: 800px;
  line-height: 1.8;
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.secao-sobre-container img{
  width: 300px;
}

/*seção serviços*/

.servicos h2{
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
}

.quadro-servicos{
  background-color: #000;
  padding: 40px;
  margin: 50px;
  border-radius: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.card-servico{
  background-color: #F7F2E6;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-servico h3,
.card-servico p{
  font-weight: 500;
  margin: 10px 0;
  font-size: 18px;
}

/*footer*/

.rodape{
  background-color: #000;
}

.rodape-conteudo{
  padding: 50px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 12px;
  gap: 20px;
  font-weight: 500;
}

.rodape-conteudo h4{
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}

.rodape-conteudo a{
  color: #fff;
  text-decoration: none;
}

.rodape-identificacao{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logos-parceiros{
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.logos-parceiros img{
  height: 90px;
}

.redes-sociais{
  display: flex;
  gap: 15px;
}

.redes-sociais img{
  width: 30px;
  display: block;
}

.rodape-links,
.rodape-contato,
.rodape-endereco{
  width: 250px
}

.rodape-contato a{
  display: flex;
  align-items: center;
  gap: 10px
}

.rodape-contato img{
  width: 15px;
}

.rodape-links ul{
  list-style: none;
}

.rodape-copyright{
  background-color: #FF3102;
  padding: 10px;
  display: flex;
  justify-content: center;
  color: #fff;
}


/* Botão Flutuante do WhatsApp */
.btn-whatsapp-fixo {
  position: fixed;
  bottom: 25px;      
  right: 25px;      
  width: 60px;      
  height: 60px;     
  z-index: 9999;     
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: #25d366; 
  border-radius: 50%;       
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Sombra para dar um destaque */
  
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-whatsapp-fixo img {
  width: 35px;      
  height: 35px;
}

.btn-whatsapp-fixo:hover {
  transform: scale(1.1); /* Leve aumento de tamanho */
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.4);
}
