*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

.header{
  width: 100%;
  min-height: 100px;
  padding: 10px 100px;
  display: flex;
  align-items: center;
  background-color: #F7F2E6;
}

.logo{
  display: flex;
  justify-content: flex-start;
}

.logo img{
  width: 150px;
}

.header-menu{
  width: 100%;
}

.header-menu ul{
  display: flex;
  list-style: none;
  justify-content: flex-end
}

.header-menu ul li{
  margin-left: 30px;
}

a{
  text-decoration: none;
  color: #000;
  font-weight: 500
}

.active{
  color: #FF0000;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px
}

.btn-contato{
  background-color: #FF3102;
  padding: 5px 10px;
  color: #F7F2E6;
  border-radius: 4px;
}










/* Botão Flutuante do WhatsApp */
.btn-whatsapp-fixo {
  position: fixed;
  bottom: 25px;      
  right: 25px;      
  width: 60px;      
  height: 60px;     
  z-index: 9999;     
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: #25d366; 
  border-radius: 50%;       
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Sombra para dar um destaque */
  
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-whatsapp-fixo img {
  width: 35px;      
  height: 35px;
}

.btn-whatsapp-fixo:hover {
  transform: scale(1.1); /* Leve aumento de tamanho */
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.4);
}
